name : vishnu roopesh .c
usn : 22btrcl169

**Clean and gain Insights from the Hospital Data bold text**

In [ ]:
import pandas as pd

# Load hospital data and metadata
hospital_data = pd.read_csv('/content/hospitals.csv')
metadata = pd.read_csv('/content/metadata.csv')

# Extract acronyms and definitions from metadata
acronyms_definitions = metadata['Acronyms'].str.split(',', expand=True)

# Extract the first row as acronyms and the remaining rows as definitions
acronyms = acronyms_definitions.iloc[0].tolist()
definitions = acronyms_definitions.iloc[1:].fillna('').apply(lambda row: ', '.join(row), axis=1).tolist()

# Iterate through the acronyms and definitions
for acronym, definition in zip(acronyms, definitions):
    # Extract the name before the parentheses from the definition
    name = definition.split('(')[0].strip()
    # Iterate through columns in hospital_data
    for col in hospital_data.columns:
        # Check if the acronym matches the part before parentheses in the hospital_data column name
        if acronym == col.split('(')[0].strip():
            # Rename the hospital_data column using the name extracted from the metadata
            hospital_data.rename(columns={col: name}, inplace=True)

# Add missing header "State/UT"
hospital_data.columns.values[0] = 'State/UT'

# Save modified hospital data to a new CSV file
hospital_data.to_csv('/content/mod/hospitals_modified.csv', index=False)

# Print the modified hospital data
print(hospital_data.head())

                    State/UT   PHC  CHC  SDH  DH Hospitals HospitalBeds
0  Andaman & Nicobar Islands    27    4  NaN   3        34         1246
1             Andhra Pradesh  1417  198   31  20      1666        60799
2          Arunachal Pradesh   122   62  NaN  15       199         2320
3                      Assam  1007  166   14  33      1220        19115
4                      Bihar  2007   63   33  43      2146        17796

NAME : VISHNU ROOPESH.C
USN : 22BTRCL169


**Problem Statement 10: (Fix the header) **

In [ ]:
import pandas as pd

# Read the CSV file
hospital_df = pd.read_csv('/content/mod/hospitals_modified.csv')

# Define the column name mappings
fullname = {
    "PHC": "Number of Primary Health Centers",
    "CHC": "Community Health Centers",
    "SDH": "Sub-District/Divisional Hospitals",
    "DH": "District Hospitals",
    "Hospitals": "Hospitals",
    "HospitalBeds": "Hospital Beds"
}

# Rename columns
hospital_df.rename(columns=fullname, inplace=True)
hospital_df.rename(columns={hospital_df.columns[0]: 'State/UT'}, inplace=True)

# Save the modified DataFrame to the same CSV file, overwriting the original
hospital_df.to_csv('/content/mod/hospitals_modified.csv', index=False)

# Print the first few rows of the modified DataFrame
print(hospital_df.head())

                    State/UT Number of Primary Health Centers  \
0  Andaman & Nicobar Islands                               27
1             Andhra Pradesh                             1417
2          Arunachal Pradesh                              122
3                      Assam                             1007
4                      Bihar                             2007

  Community Health Centers Sub-District/Divisional Hospitals  \
0                        4                               NaN
1                      198                                31
2                       62                               NaN
3                      166                                14
4                       63                                33

  District Hospitals Hospitals Hospital Beds
0                  3        34          1246
1                 20      1666         60799
2                 15       199          2320
3                 33      1220         19115
4                 43      2146         17796

NAME : VISHNU ROOPESH.C
 USN : 22BTRCL169

# Problem Statement 11: (Create a function to alter the data to create uniformity)

In [ ]:
import pandas as pd
import os

def fix_state_ut_names(data):

    state_ut_mapping = {
        'A&N Islands': 'Andaman and Nicobar Islands',
        'Andaman & Nicobar Islands': 'Andaman and Nicobar Islands',
        'D&N Haveli': 'Dadra and Nagar Haveli and Daman and Diu',
        'Daman & Diu': 'Dadra and Nagar Haveli and Daman and Diu',
        'NCT of Delhi': 'Delhi',
        'NCT OF DELHI': 'Delhi',
        'Jammu & Kashmir': 'Jammu and Kashmir',
        'Lakshadweep': 'Lakshadweep',
        'Odisha': 'Odisha',
        'Puducherry': 'Puducherry',
        'Uttaranchal': 'Uttarakhand',
        'AN Islands': 'Andaman and Nicobar Islands',
        'Chandigarh': 'Chandigarh',
        'Pondicherry': 'Puducherry',
    }

    # Apply mapping to fix State/UT names
    data['State/UT'] = data['State/UT'].map(state_ut_mapping).fillna(data['State/UT'])
    return data

hospital_data = pd.read_csv('/content/mod/hospitals_modified.csv')

hospital_data_fixed = fix_state_ut_names(hospital_data)

output_folder = 'Clean_Data'
os.makedirs(output_folder, exist_ok=True)
output_file = os.path.join(output_folder, 'all_hospitals.csv')
hospital_data_fixed.to_csv(output_file, index=False)

print(hospital_data_fixed.head())

                      State/UT Number of Primary Health Centers  \
0  Andaman and Nicobar Islands                               27
1               Andhra Pradesh                             1417
2            Arunachal Pradesh                              122
3                        Assam                             1007
4                        Bihar                             2007

  Community Health Centers Sub-District/Divisional Hospitals  \
0                        4                               NaN
1                      198                                31
2                       62                               NaN
3                      166                                14
4                       63                                33

  District Hospitals Hospitals Hospital Beds
0                  3        34          1246
1                 20      1666         60799
2                 15       199          2320
3                 33      1220         19115
4                 43      2146         17796

**PROBLEM 12**

DAYANANDASHABARI S - 22BTRCL045

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Step 1: Calculate hospital beds per 10,000 people for each state/UT
def calculate_beds_per_10k(data):
    data['Beds per 10k'] = (data['Total Beds'] / data['Population']) * 10000
    return data

# Read hospital data
hospital_data = pd.read_csv('/content/government_hospitals.csv')

# Apply calculation
hospital_data = calculate_beds_per_10k(hospital_data)

# Step 2: Visualize the data
plt.figure(figsize=(12, 8))
plt.bar(hospital_data['State/UT'], hospital_data['Beds per 10k'], color='skyblue')
plt.axhline(hospital_data['Beds per 10k'].mean(), color='red', linestyle='--', label='National Average')
plt.xticks(rotation=90)
plt.xlabel('State/UT')
plt.ylabel('Hospital Beds per 10,000 People')
plt.title('Hospital Beds per 10,000 People by State/UT')
plt.legend()
plt.tight_layout()
plt.show()

# Step 3: Identify three states/UTs with the least amount of beds for their population
least_beds_states = hospital_data.nsmallest(3, 'Beds per 10k')[['State/UT', 'Beds per 10k']]
print("States/UTs with the least amount of beds for their population:")
print(least_beds_states)

# Problem Statement 13
## NAME : Suraj J
USN : 22BTRCL153

In [ ]:
import pandas as pd

# Define the output filename
output_filename = "/content/government_hospitals.csv"

# Read the data from the CSV file
df = pd.read_csv("/content/government_hospitals.csv", skiprows=[0,1])

# Create a new DataFrame with the desired column names
new_df = pd.DataFrame({
    "State/UT": df.iloc[:, 0],
    "Rural_Government_Hospitals": df.iloc[:, 1].fillna(0).astype(int),
    "Rural_Government_Beds": df.iloc[:, 2].fillna(0).astype(int),
    "Urban_Government_Hospitals": df.iloc[:, 3].fillna(0).astype(int),
    "Urban_Government_Beds": df.iloc[:, 4].fillna(0).astype(int),
    "Last_Updated": df.iloc[:, 5]
})

# Save the new DataFrame to a CSV file
new_df.to_csv(output_filename, index=False)

print(f"Cleaned data saved to: {output_filename}")

Cleaned data saved to: /content/government_hospitals.csv

NAME : GUNJ
USN :  22BTRCL058
# **Problem Statement 14: (Data update and code reuse**

In [20]:
import pandas as pd

df = pd.read_csv('/content/hospitals.csv')

df

,Unnamed: 0,PHC,CHC,SDH,DH,Hospitals,HospitalBeds
0,Andaman & Nicobar Islands,27,4,NaN,3,34,1246
1,Andhra Pradesh,1417,198,31,20,1666,60799
2,Arunachal Pradesh,122,62,NaN,15,199,2320
3,Assam,1007,166,14,33,1220,19115
4,Bihar,2007,63,33,43,2146,17796
5,Chandigarh,40,2,1,4,47,3756
6,Chhattisgarh,813,166,12,32,1023,14354
7,Dadra & Nagar Haveli,9,2,1,1,13,568
8,Daman & Diu,4,2,NaN,2,8,298
9,Delhi,534,25,9,47,615,20572
10,Goa,31,4,2,3,40,2666
11,Gujarat,1770,385,44,37,2236,41129
12,Haryana,500,131,24,28,683,13841
13,Himachal Pradesh,516,79,61,15,671,8706
14,Jammu & Kashmir,702,87,NaN,29,818,11342
15,Jharkhand,343,179,13,23,558,7404
16,Karnataka,2547,207,147,42,2943,56333
17,Kerala,933,229,82,53,1297,39511
18,Lakshadweep,4,3,2,1,10,250
19,Madhya Pradesh,1420,324,72,51,1867,38140
20,Maharashtra,2638,430,101,70,3239,68998
21,Manipur,87,17,1,9,114,2562
22,Meghalaya,138,29,NaN,13,180,4585
23,Mizoram,65,10,3,9,87,2312
24,Nagaland,134,21,NaN,11,166,1944
25,Odisha,1360,377,27,35,1799,16497
26,Puducherry,40,4,5,4,53,4462
27,Punjab,521,146,47,28,742,13527
28,Rajasthan,2463,579,64,33,3139,51844
29,Sikkim,25,2,1,4,32,1145
30,Tamil Nadu,1854,385,310,32,2581,72616
31,Telangana,788,82,47,15,932,17358
32,Tripura,114,22,12,9,157,4895
33,Uttar Pradesh,3277,671,NaN,174,4122,58310
34,Uttarakhand,275,69,19,20,383,6660
35,West Bengal,1374,406,70,55,1905,51163
36,All India,"29,899","5,568","1,255","1,003","37,725","7,39,024"